body {

font-family: Arial;

background: #0d1117;

color: white;

margin:0;

}

header {

display:flex;

justify-content:space-between;

padding:20px;

background:#161b22;

}

nav a {

color:white;

margin-left:20px;

text-decoration:none;

}

section {

padding:100px;

text-align:center;

}

.btn {

background:#00C896;

padding:10px;

color:white;

text-decoration:none;

margin:10px;

}

.card {

background:#161b22;

padding:20px;

margin:20px;

border-radius:10px;

}

